@page
@model IndexModel
@{
    ViewData["Title"] = "Machines Management";
}


<div class="d-flex align-items-center">
    <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator"><i class="fa fa-cog m--icon-font-size-lg3 mr-1"></i> Machines Management</h3>
    </div>
    <div>
        <a asp-area="MachineManagement" asp-page="AddEdit" class="btn btn-primary m-menu__link"><i class="fa fa-plus"></i>&nbsp; Add Machine</a>
    </div>
</div>

<div class="clear clearfix"><br /></div>

<div class="m-portlet m-portlet--primary m-portlet--head-solid-bg">


    <div class="m-portlet__body">
        <!--Start Filter-->
        <div class="row">
            <div class="col-sm mb-2 mb-sm-0">
                <input type="text" class="form-control m-input m-input--solid" id="filter1" aria-describedby="filter1" placeholder="Machine Name">
            </div>

            <div class="col-sm mb-2 mb-sm-0">
                <input type="text" class="form-control m-input m-input--solid" id="filter2" aria-describedby="filter2" placeholder="Machine No">
            </div>

            <div class="col-sm mb-2 mb-sm-0">
                <select class="form-control m-input m-input--solid" id="filter3">
                    <option selected>Rent Type</option>
                    <option>-</option>
                    <option>-</option>
                </select>
            </div>

            <div class="col-sm mb-2 mb-sm-0">
                <select class="form-control m-input m-input--solid" id="filter4">
                    <option selected>Status</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>



            <div class="col-sm mb-2 mb-sm-0">
                <button type="button" class="btn btn-secondary w-100"><i class="fa fa-filter"></i>&nbsp; Filter</button>
            </div>
        </div>
        <!--End Filter-->
        <div class="clear clearfix"><br /><hr /></div>
        <!--Start Grid-->
        <div class="row">
            <div class="col-12">
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th>Machine Name</th>
                            <th>Machine No.</th>
                            <th>Opening Timer</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dump Truck</td>

                            <td>101015</td>
                            <td>152.5</td>
                            <td>
                                <span class="m-badge m-badge--success m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-success">Active</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-lock"></i>&nbsp; Disable</button>
                            </td>
                        </tr>

                        <tr>
                            <td>Tank Truck</td>

                            <td>401015</td>
                            <td>14,521</td>
                            <td>
                                <span class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-danger">Disabled</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm"><i class="fa fa-lock"></i>&nbsp; Enable</button>
                            </td>
                        </tr>

                        <tr>
                            <td>Tank Truck</td>

                            <td>401015</td>
                            <td>14,521</td>
                            <td>
                                <span class="m-badge m-badge--success m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-success">Active</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-lock"></i>&nbsp; Disable</button>
                            </td>
                        </tr>

                        <tr>
                            <td>Tank Truck</td>

                            <td>401015</td>
                            <td>14,521</td>
                            <td>
                                <span class="m-badge m-badge--success m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-success">Active</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-lock"></i>&nbsp; Disable</button>
                            </td>
                        </tr>

                        <tr>
                            <td>Tank Truck</td>

                            <td>401015</td>
                            <td>14,521</td>
                            <td>
                                <span class="m-badge m-badge--success m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-success">Active</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-lock"></i>&nbsp; Disable</button>
                            </td>
                        </tr>

                        <tr>
                            <td>Tank Truck</td>

                            <td>401015</td>
                            <td>14,521</td>
                            <td>
                                <span class="m-badge m-badge--success m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-success">Active</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-lock"></i>&nbsp; Disable</button>
                            </td>
                        </tr>

                        <tr>
                            <td>Tank Truck</td>

                            <td>401015</td>
                            <td>14,521</td>
                            <td>
                                <span class="m-badge m-badge--success m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-success">Active</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-lock"></i>&nbsp; Disable</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!--End Grid-->
    </div>

</div>