@page
@model ManageModel
@{
    ViewData["Title"] = "Manage";
}
<div class="d-flex align-items-center">
    <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator"><i class="fa fa-clock m--icon-font-size-lg3 mr-1"></i> Manage Rent</h3>
    </div>
    <div>
        <a asp-area="RentManagement" class="btn btn-default m-menu__link" asp-page="Index">
            <i class="fa fa-arrow-left"></i>&nbsp; Back to Rent Management
        </a>
    </div>
</div>

<div class="clear clearfix"><br /></div>

<div class="m-portlet m-portlet--primary m-portlet--head-solid-bg">


    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-7">

                <!--Start formgroup row-->
                <div class="form-group m-form__group row">
                    <div class="col-sm-4">
                        <h5 class="mt-3"><label for="renterInput">Renter</label></h5>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-input" id="renterInput" disabled placeholder="Ahmed Mohamed CO.">
                        <span class="m-form__help">Helper text here</span>
                    </div>
                </div>

                <!--Start formgroup row-->
                <div class="form-group m-form__group row">
                    <div class="col-sm-4">
                        <h5 class="mt-3"><label for="rentRateInput">Rent Rate</label></h5>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-input" id="rentRateInput" placeholder="$200">
                        <span class="m-form__help">Helper text here</span>
                    </div>
                </div>

                <!--Start formgroup row-->
                <div class="form-group m-form__group row">
                    <div class="col-sm-4">
                        <h5 class="mt-3"><label for="relatedGroupInput">Related Group</label></h5>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-input" id="relatedGroupInput" disabled placeholder="Group-1">
                        <span class="m-form__help">Helper text here</span>
                    </div>
                </div>

                <!--Start formgroup row-->
                <div class="form-group m-form__group row">
                    <div class="col-sm-4">
                        <h5 class="mt-3"><label for="rentStartDateInput">Rent Start Date</label></h5>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-input" id="rentStartDateInput" disabled placeholder="25th, September 2018">
                        <span class="m-form__help">Helper text here</span>
                    </div>
                </div>





                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary w-100">Save</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger w-100">Garage</button>
                    </div>
                </div>




            </div>

            <div class="col-md-5">
                <div class="alert m-alert m-alert--default w-100 mt-3 mt-md-0" role="alert">

                    <h5><i class="fa fa-info-circle mr-1 m--icon-font-size-lg1"></i> Machine Details</h5><br />
                    <div>Machine Name: <span class="font-weight-bold">Dump Truck</span></div><br />
                    <div>Machine NO: <span class="font-weight-bold">101050</span></div><br />
                    <div>Rent Type: <span class="font-weight-bold">KM</span></div><br />
                    <div>Distance: <span class="font-weight-bold">15,150</span> KM</div>
                </div>
            </div>
        </div>

    </div>
</div>